.container {
  display: flex;
  width: 100vw;
  background: rgba(129, 127, 117, 0.3);
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contbtn {
  margin: 0 30px;
  height: 40px;
}

.btnLo {
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(194, 1, 20);
  padding: 5px;
  background: none;
  cursor: pointer;
}

.btnLo:hover {
  background: rgb(194, 1, 20);
}
